.vscode/
*.pyc
*.err
*.out
*.dat
*.rdb
*.h5
*.hdf
*.msh
*.log
**/log/
**/fort.*
**/sod2d
**/tool_meshConversorPar
**/*egg-info/
**/logs/
**/output_*/
**/train/
**/eval/

!examples/
examples/*
!examples/sin_rl/
!examples/basefiles
!examples/bl_rl/
examples/bl_rl/*
!examples/bl_rl/sarl_template/
!examples/bl_rl/marl_template/
